<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Lightwave</title>

      {{ cssBundle | raw }}
</body>
</head>
<body>

<div class="absolute top-0 w-full h-full z-0 bg-[radial-gradient(circle_at_top,_var(--tw-gradient-stops))] from-[#6f13c314] via-black to-[#060708]"></div>
<section class="bg-black text-white">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-3xl w-full text-center bg-[#71717a1a] p-5 shadow-lg rounded-xl py-20 z-10">
      <h1
        class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
      >
       <span class="text-white">Welcome to</span> Lightwave
      </h1>

      <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed text-gray-400">
        Simple PHP starter kit made by php dominicana community
      </p>

      <div class="mt-8 flex flex-wrap justify-center gap-4">

        {# TODO: add documentation url #}
        <a
          class="block w-full rounded bg-blue-600 hover:bg-blue-700 px-12 py-3 text-sm text-white  hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto font-bold"
          href="#"
        >
          Documentation
        </a>

        <a
          class="w-full rounded px-12 py-3 text-sm font-bold text-white bg-black hover:bg-black/50 focus:outline-none focus:ring active:bg-black sm:w-auto flex gap-3"
          target="_blank"
          href="https://github.com/PHP-Dominicana/lightwave"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
        </svg>
          Github
        </a>
      </div>
    </div>
  </div>
</section>

    {{ jsBundle | raw }}
</html>
